In [295]:
import yfinance as yf
import pandas as pd
from typing import List, DefaultDict, Tuple
from collections.abc import Sequence
import csv
import importlib
importlib.reload(main)
from main import gbp_to_usd, eur_to_usd, process_stocks, process_etfs, load_etfs_from_file, load_stocks_from_file, get_stock_info, get_stock_price, process_stock_info, process_eur_etf

In [296]:
Stock = Tuple[str, int]
Etf = Tuple[str, int, str]

In [297]:
GBP_to_USD = gbp_to_usd()
print(GBP_to_USD)

1.3808912

In [298]:
EUR_to_USD = eur_to_usd()
print(EUR_to_USD)

1.186521

In [299]:
stocks = load_stocks_from_file('data/stocks2.csv')

In [300]:
eur_etfs = load_etfs_from_file('data/etfs2.csv')

In [301]:
df = process_stocks(stocks)

ACRE

In [302]:
df_etfs = process_etfs(eur_etfs)

SPY

In [303]:
merged_portfolio = df.append(df_etfs, sort=False)
total_portfolio_val = merged_portfolio["total_val"].sum()
merged_portfolio['%portfolio'] = (merged_portfolio['total_val'] / total_portfolio_val) * 100

In [304]:
merged_portfolio.sort_values(by='total_val', ascending=False)

,ticker,price,amount,BV,P/B,total_val,dividend_rate,yield,industry,currency,%portfolio
0,SPY,414.920013,100,NaN,NaN,41492.001343,NaN,NaN,NaN,USD,96.634604
0,ACRE,14.450000,100,14.254,1.013751,1445.000000,1.32,0.0785,REIT—Mortgage,USD,3.365396

In [305]:
print(total_portfolio_val)

42937.00134277344